@using QuickRent.Models;
@*Error @model QuickRent.Models.Car*@
@model CarsDetailsViewModel
@using Microsoft.AspNetCore.Identity
@using QuickRent.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager





@* <h1>Details</h1>

<div>
    <h4>Breed</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarsClasses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarsClasses)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fuel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fuel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@
<div class="container mt-5">
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="dog-details shadow-sm p-3 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-md-6">
                        @*   <h2 class="card-title">@Model.CarsClasses</h2>
                    <p class="card-text"><strong>Breed:</strong> @Model.Cars.Breeds.Name</p>
                        <p class="card-text"><strong>Gender:</strong> @Model.Dog.Gender</p>
                        </div>*@
                 <div class="col-md-6 text-center">
                    <img src="@Model.Car.ImageUrl" class="img-fluid rounded" alt="Dog Image" />
                        </div>
            </div>
        </div>
